.nav-item{
    transition: all .5s ;
   
}
.nav-item:hover{
    background-color: rgb(246, 215, 215);
    border-radius: 10px;
   transform: scale(1.2);
}
.navbar{
    
    background-color:rgb(211, 233, 239);
    transition:all .5s 
}
.navbar:hover{
    background-color:rgb(149, 180, 206);
}